<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            <span class='label label-danger'>{{poll.title}}</span> - {{poll.question}}
        </h1>
    </div>
    <div class="panel-body">
        
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in poll.answers">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" ng-click='select_answer(item.id)'>
                            {{item.answer}}
                    </label>
                </div>
            </li>
        </ul>
        
        <div class="alert alert-warning" role='alert' ng-show='errorMessage.length != 0'>
            <strong>Oh snap!</strong> {{errorMessage[0]}}
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success btn-block" ng-click='vote();'>Vote</button>
        <!--button type="button" class="btn btn-info" style='width: 49.5%'>View Results</button-->
    </div>
</div>

<div>
    <a href="#/polls">
        <button type='button' class='btn btn-default'>Back to polls</button>
    </a>
</div>